<div class="container">
    <h1>Random Grid Generator</h1>
    
    <div class="bias-container" [formGroup]="form">
      <label for="biasInput">Enter Bias Character:</label>
      <input 
        id="biasInput" 
        type="text" 
        maxlength="1" 
        formControlName="biasControl"
        placeholder="a-z"
        aria-label="Bias Character"
      />
    </div>
    
    <button (click)="startGenerator()">Start Generator</button>
    <button (click)="stopGenerator()">Stop Generator</button>
    
    <div *ngIf="grid$ | async; let grid">
        <table *ngIf="grid.length > 0" class="grid-table">
            <tr *ngFor="let row of grid">
              <td *ngFor="let cell of row">{{ cell }}</td>
            </tr>
        </table>
    </div>
  </div>
  